In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
train_df = pd.read_csv(r"C:\Users\LENOVO\Documents\Kaggle Competitions\Predicting Student Test Scores\train_dataset.csv")
test_df = pd.read_csv(r"C:\Users\LENOVO\Documents\Kaggle Competitions\Predicting Student Test Scores\test_dataset.csv")

DATA QUALITY REPORT

In [5]:
train_df.describe()

,id,age,study_hours,class_attendance,sleep_hours,exam_score
count,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000,630000.000000
mean,314999.500000,20.545821,4.002337,71.987261,7.072758,62.506672
std,181865.479132,2.260238,2.359880,17.430098,1.744811,18.916884
min,0.000000,17.000000,0.080000,40.600000,4.100000,19.599000
25%,157499.750000,19.000000,1.970000,57.000000,5.600000,48.800000
50%,314999.500000,21.000000,4.000000,72.600000,7.100000,62.600000
75%,472499.250000,23.000000,6.050000,87.200000,8.600000,76.300000
max,629999.000000,24.000000,7.910000,99.400000,9.900000,100.000000

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630000 entries, 0 to 629999
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                630000 non-null  int64
 1   age               630000 non-null  int64
 2   gender            630000 non-null  object
 3   course            630000 non-null  object
 4   study_hours       630000 non-null  float64
 5   class_attendance  630000 non-null  float64
 6   internet_access   630000 non-null  object
 7   sleep_hours       630000 non-null  float64
 8   sleep_quality     630000 non-null  object
 9   study_method      630000 non-null  object
 10  facility_rating   630000 non-null  object
 11  exam_difficulty   630000 non-null  object
 12  exam_score        630000 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 62.5+ MB

In [7]:
train_df.nunique()

id                  630000
age                      8
gender                   3
course                   7
study_hours            792
class_attendance       617
internet_access          2
sleep_hours             66
sleep_quality            3
study_method             5
facility_rating          3
exam_difficulty          3
exam_score             805
dtype: int64

In [12]:
for i in train_df.columns:
    print(train_df[i].value_counts())

id
629983    1
629982    1
629981    1
629980    1
629979    1
         ..
4         1
3         1
2         1
1         1
0         1
Name: count, Length: 630000, dtype: int64
age
21    86620
23    82872
20    80742
19    78885
24    77111
18    75632
22    74950
17    73188
Name: count, dtype: int64
gender
other     211097
male      210593
female    208310
Name: count, dtype: int64
course
b.tech     131236
b.sc       111554
b.com      110932
bca         88721
bba         75644
ba          61989
diploma     49924
Name: count, dtype: int64
study_hours
0.0800    14460
7.9100    12840
4.6900     2451
4.6700     2147
4.3900     1962
          ...
0.2970        1
3.0560        1
0.4620        1
0.5210        1
6.0191        1
Name: count, Length: 792, dtype: int64
class_attendance
99.400    15264
40.600     6985
89.400     2182
97.300     2099
99.000     2068
          ...
43.120        1
58.532        1
52.640        1
94.770        1
42.790        1
Name: count, Length: 617, dtype: int64
internet_access
yes    579423
no      50577
Name: count, dtype: int64
sleep_hours
9.90    18807
4.10    17928
9.20    12957
6.20    12608
9.70    12583
        ...
4.41        1
4.82        1
4.55        1
4.65        1
4.62        1
Name: count, Length: 66, dtype: int64
sleep_quality
poor       213675
good       213089
average    203236
Name: count, dtype: int64
study_method
coaching         131697
self-study       131131
mixed            123086
group study      123009
online videos    121077
Name: count, dtype: int64
facility_rating
medium    214082
low       212378
high      203540
Name: count, dtype: int64
exam_difficulty
moderate    353982
easy        176540
hard         99478
Name: count, dtype: int64
exam_score
100.000    15458
19.599      6336
69.400      1740
61.300      1683
67.300      1660
           ...
22.800        71
20.500        70
20.100        55
22.400        54
21.900        35
Name: count, Length: 805, dtype: int64